<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <welcome-file-list>
        <welcome-file>HomePage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Servlet.HomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AreaDetail</servlet-name>
        <servlet-class>Servlet.ShowListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaDetail</servlet-name>
        <url-pattern>/AreaDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>Servlet.CreatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowDetail</servlet-name>
        <servlet-class>Servlet.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowDetail</servlet-name>
        <url-pattern>/ShowDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ChangeImg</servlet-name>
    <servlet-class>Servlet.ChangeImgServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>ChangeImg</servlet-name>
        <url-pattern>/ChangeImg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonalManager</servlet-name>
        <servlet-class>Servlet.PersonalManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalManager</servlet-name>
        <url-pattern>/PersonalManager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Servlet.DeletePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateFollow</servlet-name>
        <servlet-class>Servlet.CreateFollowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFollow</servlet-name>
        <url-pattern>/CreateFollow</url-pattern>
    </servlet-mapping>
</web-app>
